<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyxs.cloud.personnel.mapper.InfoSetMapper">

    <select id="getInfoSets" resultType="com.kyxs.cloud.personnel.api.pojo.entity.InfoSet">
        select id,set_name,set_type from info_set where set_status='1' order by set_sort
    </select>

</mapper>
