<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyxs.cloud.personnel.mapper.RoleMapper">

    <select id="queryListByPage" parameterType="com.kyxs.cloud.core.base.mybatisplus.PageQuery" resultType="com.kyxs.cloud.personnel.api.pojo.entity.Role">
       select  a.id,a.cus_id,a.tenant_id,a.role_name,a.role_type,a.role_status,a.role_desc,a.create_time from (
        select r.*,rpr.group_id from roles r left join roles_permission_r rpr on rpr.cus_id=r.cus_id and rpr.role_id=r.id where r.cus_id=#{condition.cusId} order by r.create_time desc
       ) a group by a.id,a.cus_id,a.tenant_id,a.role_name,a.role_type,a.role_status,a.role_desc,a.create_time
    </select>
</mapper>
